.Answer-the-question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.Answer {
  background-color: rgb(248, 252, 236);
  width: 500px;
  min-height: 400px;
  padding: 0 20px;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  padding-bottom: 0;
  margin: 50px auto;
}

.Answer h5,
p {
  margin: 10px;
}

@media only screen and (max-width: 688px) {
  .Answer-the-question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 325px;
    margin: auto;
  }

  .Answer {
    width: auto;
    margin: auto;
    height: auto;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .Answer-the-question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
