.carts {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 50px;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px auto;
  order: 1;
}

.selected{
  order: 1;
}

@media only screen and (max-width: 688px) {
  .carts {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    /* gap: 50px; */
  }

  .selected {
    margin: auto;
    order: 1;
  }

  .books {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-content: center;
    /* gap: 10px; */
    order: 2;
  }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .carts {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .selected {
    order: 1;
  }

  .books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    order: 2;
  }
}
