.book{
    background-color: rgb(248, 252, 236);
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    padding-bottom: 0;
}
.book img {
    border-radius: 5px;
}

.book-info{
    padding: 0px 10px;
}
.book-info h4{
    margin: 0;
}

.cart-btn{
    background-color: rgb(248, 252, 236);
    color: rgb(96, 145, 0);
    border: none;
    width: 100%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn span{
    padding: 10px;
    font-size: 25px;
}